# Jade access transformers
public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.multiplayer.PlayerControllerMP field_178895_c # currentBlock
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP
public net.minecraft.entity.passive.AbstractHorse field_110296_bG # horseChest
public net.minecraft.world.storage.loot.LootTable field_186466_c # pools
public net.minecraft.world.storage.loot.LootPool field_186453_a # lootEntries
public net.minecraft.world.storage.loot.LootEntry field_186366_e # conditions
public net.minecraft.world.storage.loot.LootEntryTable field_186371_a # table
public net.minecraft.block.BlockRedstoneWire$EnumAttachPosition
